# first file
--  run with shift + enter

## data structures

### List
-  create with [  ]  : square bracket
-  mutatable

In [10]:
List = [1, 2,  3, "sushma", 4,5,2.3]
print(List)

[1, 2, 3, 'sushma', 4, 5, 2.3]

In [17]:
#dir(List)

In [12]:
list1 = [1,4,2,'SS', 'F', True, 'DU']

In [13]:
list1

[1, 4, 2, 'SS', 'F', True, 'DU']

In [14]:
list1 + List

[1, 4, 2, 'SS', 'F', True, 'DU', 1, 2, 3, 'sushma', 4, 5, 2.3]

In [15]:
list1[0] = 100
print(list1)

[100, 4, 2, 'SS', 'F', True, 'DU']

In [18]:
list = [ "New York", "Los Angles", "Boston", "Denver" ]

print(list)     # prints all elements
print(list[0])  # print first element

['New York', 'Los Angles', 'Boston', 'Denver']
New York

### Tuple
-  create with ( ) round bracket
-  immutable

In [ ]:
tuple1 = (1,4,2,'SS', 'F', True, 'DU')

In [ ]:
tuple1

In [ ]:
tuple1[0] = 100  #'tuple' object does not support item assignment
print(tuple1)

In [ ]:
tuple1 = (1,2,4)
print(tuple1)

### Dictionary
-  create with { } with key:value pair

In [ ]:
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]}
print("Creating Dictionary: ")
print(Dict)

In [ ]:
staff = {'name':'Sushma', 'gender':'F', 'age':40, 'city': 'noida'}

In [ ]:
staff

In [ ]:
staff['name']  # what is value of name in this dict

In [ ]:
staff.get('gender') # what is the value of gender

In [ ]:
' , '.join(dir(staff))

### Set
-  created with {  }  and sep by comma 
-  sort, no duplicates

In [ ]:
teamA = {'India', 'Australia', 'England', 'India'}
print(teamA)

In [ ]:
type(teamA)

In [ ]:
teamB = {'Pakistan','Sri Lanka', 'Ireland', 'India'}
print(teamB)

In [ ]:
teamA.intersection(teamB)

In [ ]:
teamA.union(teamB)

### String
-  immutable

In [ ]:
name = 'Sushma Srivastava, HCL'
print(name)

In [ ]:
#name[1]= 'abc'  #cannot do

In [ ]:
name = 'SS'
print(name)